body {
	background-color: #1e1f1b;
	color: white;
}

.App {
	text-align: center;
	margin: 50px;
}
.btn {
	padding: 10px 25px;
}

.transaction-form {
	display: block;
}

.input-container {
	margin: 5px;
}

a {
	color: rgb(39 77 199);
}

input {
	padding: 10px;
	width: 40%;
}
